.gradient {
   background: linear-gradient(89.82deg, rgba(0, 0, 0, 0.8) 0.9%, #FF0000 10.47%, rgba(255, 154, 3, 0.90625) 17.26%, rgba(229, 206, 3, 0.8125) 22.93%, rgba(61, 218, 6, 0.723958) 28.76%, rgba(6, 186, 197, 0.65625) 34.6%, rgba(9, 5, 176, 0.583333) 43.28%, rgba(114, 4, 152, 0.505208) 49.65%, rgba(130, 4, 64, 0.432292) 56.56%, #000000 98.94%);
   /* height: 360px; */
}

.gradient-2 {
   background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, #FF0000 5.49%, rgba(255, 154, 3, 0.90625) 12.99%, rgba(229, 206, 3, 0.8125) 18.75%, rgba(61, 218, 6, 0.723958) 27.6%, rgba(6, 186, 197, 0.65625) 34.38%, rgba(9, 5, 176, 0.583333) 41.67%, rgba(114, 4, 152, 0.505208) 49.48%, rgba(130, 4, 64, 0.432292) 56.77%, #000000 100%);
}

.button {
   width: 363px;
   height: 86px;
}

.dart {
   width: 579px;
   padding: 59px 804px 59px 57px;
}



