.gradient {
   background: linear-gradient(89.82deg, rgba(0, 0, 0, 0.8) 0.9%, #FF0000 10.47%, rgba(255, 154, 3, 0.90625) 17.26%, rgba(229, 206, 3, 0.8125) 22.93%, rgba(61, 218, 6, 0.723958) 28.76%, rgba(6, 186, 197, 0.65625) 34.6%, rgba(9, 5, 176, 0.583333) 43.28%, rgba(114, 4, 152, 0.505208) 49.65%, rgba(130, 4, 64, 0.432292) 56.56%, #000000 98.94%);
   /* height: 360px; */
}

.gradient-2 {
   color: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, #FF0000 5.49%, rgba(255, 154, 3, 0.90625) 12.99%, rgba(229, 206, 3, 0.8125) 18.75%, rgba(61, 218, 6, 0.723958) 27.6%, rgba(6, 186, 197, 0.65625) 34.38%, rgba(9, 5, 176, 0.583333) 41.67%, rgba(114, 4, 152, 0.505208) 49.48%, rgba(130, 4, 64, 0.432292) 56.77%, #000000 100%);
   background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, #FF0000 5.49%, rgba(255, 154, 3, 0.90625) 12.99%, rgba(229, 206, 3, 0.8125) 18.75%, rgba(61, 218, 6, 0.723958) 27.6%, rgba(6, 186, 197, 0.65625) 34.38%, rgba(9, 5, 176, 0.583333) 41.67%, rgba(114, 4, 152, 0.505208) 49.48%, rgba(130, 4, 64, 0.432292) 56.77%, #000000 100%);
   
}

.dropdown:hover .dropdown-content {
   display: block;
 }

.cont:hover .branco {
   color: #ffff;
}

.font-dart {
   font-size: 170px;
   font-family:'Times New Roman', Times, serif;
}

.font-slide {
   font-family: 'Times New Roman', Times, serif;
}

h2 {
   font-family: helvetica;
}

.quadro {
   width: 598px;
   height: 435px;
}
.quadro-s {
   width: 230px;
   height: 330px;
}
.quadro-2 {
   width: 392px;
   height: 296px;
}
.quadro-3 {
   width: 526px;
   height: 400px;
   -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
   
}
.quadro-3:hover {
   -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
 }

.quadro-3 {
   width: 526px;
   height: 400px;
   -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
   
}
.quadro-3:hover {
   -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.quadro-gal {
   width: 700px;
   height: 250px;
}

.quadro-slide {
   width: 700px;
   height: 500px;
}


.button {
   width: 363px;
   height: 86px;
}

.dart {
   width: 579px;
   padding: 59px 804px 59px 57px;
}

.fundo:hover {
   background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, #FF0000 5.49%, rgba(255, 154, 3, 0.90625) 12.99%, rgba(229, 206, 3, 0.8125) 18.75%, rgba(61, 218, 6, 0.723958) 27.6%, rgba(6, 186, 197, 0.65625) 34.38%, rgba(9, 5, 176, 0.583333) 41.67%, rgba(114, 4, 152, 0.505208) 49.48%, rgba(130, 4, 64, 0.432292) 56.77%, #000000 100%);
   padding-bottom: 10px;
   padding-top: 10px;
}

.fundo4:hover {
   background: linear-gradient(270deg,#000000 0%,#FF0000 70%,#BBA602 95%);
   padding-bottom: 20px;
   padding-top: 16px;

}
.fundo3:hover {
   background: linear-gradient(270deg, #BBA602 0%, #389F04 35.42%, #047B7F 76.26%, #04597A 100%);   padding-bottom: 20px;
   padding-bottom: 20px;
   padding-top: 16px;

}
.fundo2:hover {
   background: linear-gradient(270deg, #045078 0%, #040968 19.79%, #2A0254 76.26%, #390240 100%);
   padding-bottom: 20px;
   padding-top: 16px;
}

.item {
   background: linear-gradient(270deg, #045078 0%, #040968 19.79%, #2A0254 76.26%, #390240 100%);
   
}

.pad {
   padding-right: 44.5px;
   padding-left: 44.5px;
}


.fundo1:hover{
   background: linear-gradient(270deg,#390240 0%, #38011B 50%, #060103 100%);
   padding-bottom: 20px;
   padding-top: 16px;
}


/* Javascript*/
.js [data-slide] {
    position: relative;
}

.js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
}

.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
}

.js [data-slide-nav]{
   display: block;
   text-align: center;
}

.js [data-slide-nav] button {
   opacity: 90%;
   width: 15px;
   height: 15px;
   margin: 0 16px;
   border: none;
   padding: 0;
   text-indent: -99px;
   border-radius: 20px;
   overflow: hidden ;
   background: #1d1d1d;
}

.js [data-slide-nav] button.active {
    background:rgba(88, 28, 135, 1);
}

.js [data-anime] {
   opacity: 0;
   transform: translate3d(0px, -20px, 0);
}

/* .js .fadeInDown {
   transform: translate3d(0px, -20px, 0);
} */


.js .fadeInLeft {
   transform: translate3d(-10px, 0, 0);
}

.js .anime {
    opacity: 1;
    transform: none;
    transition: opacity 1500ms, transform 800ms;
}
